@font-face {
  font-family: "Gordita-Medium";
  src: url(../../public/fonts/Gordita-Medium.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Regular";
  src: url(../../public/fonts/Gordita-Regular.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Light";
  src: url(../../public/fonts/Gordita-Light.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Bold";
  src: url(../../public/fonts/Gordita-Bold.ttf) format("truetype");
  font-style: normal;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  margin-top: 28rem;
  cursor: pointer;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
