@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gordita-Medium";
  src: url(../../public/fonts/Gordita-Medium.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Regular";
  src: url(../../public/fonts/Gordita-Regular.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Light";
  src: url(../../public/fonts/Gordita-Light.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Bold";
  src: url(../../public/fonts/Gordita-Bold.ttf) format("truetype");
  font-style: normal;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.cardScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cardScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
